<div class="form-group">
  <label for="{{inputName}}">{{form_data.name}}</label>

  {{#if isInput}}
    {{input type='text' value=form_data.content class="form-control" id=inputName placeholder=placeholderName}}
  {{else}}
    {{textarea value=form_data.content class="form-control" id=inputName placeholder=placeholderName}}
  {{/if}}
</div>