<div class="form-group">
  <label for="{{inputNameForProperty}}">{{inputNameForUI}}</label>
  <input type="{{inputType}}" class="form-control" id="{{inputNameForProperty}}" placeholder="Enter {{inputNameForProperty}}" name="{{inputNameForProperty}}">
</div>