{{#each model as |form|}}

  {{#app-page-title}}
    {{form.title}}
  {{/app-page-title}}

  {{#app-form}}
    {{#each form.form_fields as |form_data|}}
      {{app-form-input form_data=form_data}}
    {{/each}}
    <button {{action 'save' form}} class="btn btn-success">Save</button>
    <button {{action 'cancel'}} class="btn btn-danger">Cancel</button>
    <button {{action 'addNewFieldset' form}} class="btn btn-primary pull-right">+ Adicionar</button>
  {{/app-form}}

{{/each}}